* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(221, 217, 217);
}

.logo {
    width: 150px;
    height: 70px;
}

.search-bar {
    margin-left: 1em;
}

.search-btn {
    border-radius: 5px;
}

.search-form {
    margin-top: 0.25em;
}

.search-form > input[type="text"] {
    width: auto;
    height: 2em;
}

.search-form > input[type="submit"] {
    height: 2em;
    width: auto;
}

nav {
    background-color: rgb(255, 201, 60);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    padding: 0.75em;
}


.nav-cat {
    display: flex;
}

.nav-icon {
    margin-right: 0.5em;
    width: 35px;
    height: 35px;
}

.nav-cat-tile {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    
}